

*{
    box-sizing: border-box;
}

body{
  font-family: "华文行楷", "STXingkai", "AR PL UKai CN", cursive;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.contanier{
  display: flex;
  width: 90vw;
}

.pictuer{
  height: 80vh;
  flex: 0.5;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  margin: 10px;
  position: relative;
}

.pictuer h3{
  font-size: 55px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.active.pictuer{

  flex: 5;
}

.active.pictuer h3{

  opacity: 1;
}

@media (max-width:480px) {
  .contanier{
    width: 100vw;
  }
  .pictuer:nth-of-type(4),.pictuer:nth-of-type(5){
    display: none;
  }
}